NODE_ENV=development
PORT=4100
APP_NAME=auth-center
API_PREFIX=api
CORS_ORIGIN=http://localhost:3000

DB_HOST=localhost
DB_PORT=55432
DB_USERNAME=auth_center
DB_PASSWORD=auth_center
DB_NAME=auth_center
DB_SYNCHRONIZE=false
DB_LOGGING=false

REDIS_HOST=localhost
REDIS_PORT=56379
REDIS_PASSWORD=

RABBITMQ_HOST=localhost
RABBITMQ_PORT=55672
RABBITMQ_USERNAME=auth_center
RABBITMQ_PASSWORD=auth_center
RABBITMQ_VHOST=/

JWT_PRIVATE_KEY_PATH=./keys/jwt-private.pem
JWT_PUBLIC_KEY_PATH=./keys/jwt-public.pem
JWT_ACCESS_TTL=900
JWT_REFRESH_TTL=604800
JWT_ISSUER=auth-center
JWT_AUDIENCE=auth-clients

THROTTLE_TTL=60
THROTTLE_LIMIT=30
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
LOG_LEVEL=debug
